body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}